# --- DEPENDENCIAS ---
# Ignora node_modules en cualquier nivel (Raíz, Frontend y Backend)
**/node_modules/
.pnp
.pnp.js

# --- PRODUCCIÓN / BUILDS ---
# Carpeta de salida de Vite (Frontend)
frontend/dist/
frontend/dist-ssr/
# Carpeta de salida si usas compilación en el servidor (Backend)
backend/dist/
**/build/

# --- VARIABLES DE ENTORNO (SEGURIDAD) ---
# Muy importante: nunca subir las keys de tu API o DB
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/ .env
**/ .env.*.local
! .env.example

# --- LOGS ---
# Archivos de registro de errores de npm/yarn
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
frontend/*.log
backend/*.log

# --- VITE / HERRAMIENTAS ---
# Archivos temporales que genera Vite al arrancar
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*
.eslintcache
.stylelintcache

# --- SISTEMA Y EDITORES ---
# Archivos basura de Windows/Mac y configuraciones de IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- OTROS ---
# Datos de cobertura de tests
coverage
*.lcov
.nyc_output
# Cache de TypeScript
*.tsbuildinfo