/* Quitar el color de una barra blanca */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FFFBF2;
}

/* Contenedor de color y tamaño */
.container {
  position: relative;
  padding-top: 60px; 
  background-color: #FFFBF2;

  width: 100%; 
  height: 100dvh;         
  min-height: 100vh;  
}

/* Boton de Cerrar Sesión */
.logout-btn {
  position: fixed;
  top: 35px;
  right: 35px;  
  z-index: 1000;
}

/* Icono de Cerrar Sesión */
.logout-icon {
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  .logout-icon {
    width: 30px;
    height: 30px;
  }
}

/* Modal para confirmar cerrado de sesión */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal {
  background: #3b3fb6;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  width: 700px;    
  padding: 80px;
}

.modal p {
  color: #ffffff;
  font-size: 40px;
}

.modal-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.btn {
  background-color: var(--btn-color);
  border: none;
  color: white;
  padding: 10px 20px; 
  cursor: pointer;
  box-shadow: 0 4px 0 var(--btn-shadow);
  transition: all 0.2s ease;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 var(--btn-shadow);
}

/* Modal para confirmar cerrado de sesión en celular */
@media (max-width: 768px) {
  .modal {
    width: 300px;    
    padding: 30px;
  }

  .modal p {
    font-size: 20px;
    }

  .modal-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
 }

 .btn {
    padding: 8px 14px;
    font-size: 14px;
  }
}
